<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
   

    <link
      rel="stylesheet"
      href="/public/css/newpost.css" />

    <link
      rel="stylesheet"
      href="/public/css/header.css" />

    <script
      src="/public/js/newpost.js"
      type="module"></script>
  </head>
  <body>
    <%- include('../partials/header') %>

    <section class="title">
      <h1>Add new post</h1>
    </section>

    <div id="root">
      <section>
        <form
          action=""
          @submit.prevent="submitHandler">
          <input
            type="text"
            v-model="formData.title"
            placeholder="title" />
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            v-model="formData.article"
            placeholder="article"></textarea>
          <div class="category">
            <label for="cat">Category:</label>
            <select
              id="cat"
              v-model="formData.category">
              <option
                value=""
                selected>
                select
              </option>
              
              <option value="android">Android</option>
              <option value="windows">Windows</option>
              <option value="music">Music</option> 
              
            </select>
          </div>

          <input
            type="text"
            v-model="formData.author"
            placeholder="author" />

          <input
            type="text"
            v-model="formData.vcomponent"
            placeholder="vcomponent" />

          <div>
            <input
              type="checkbox"
              name="published"
              id="published"
              v-model="formData.published"
              checked />
            <label for="published">published</label>
          </div>
          <button>Create</button>

          <div>
            {{serverresponse}}    
          </div>
        </form>
      </section>
    </div>
  </body>
</html>
