<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <link
      rel="stylesheet"
      href="/public/css/main.css" />

    <link
      rel="stylesheet"
      href="/public/css/newpost.css" />

    <script
      src="/public/js/newpost.js"
      type="module"></script>
   
  </head>
  <body>
    <%- include('../partials/header') %>

    
    <div id="root">
      <div class="title">
        <h1>Add new post</h1>
      </div>
      <section>
        <form
          action=""
          @submit.prevent="submitHandler">
          <div>
            <p>
              Title:{{ formData.title.length }}
              <span
                class="errorInput"
                v-show="formData.title.length > 100"
                >Title must contain at most 100 character(s)</span
              >
            </p>

            <input
              type="text"
              v-model="formData.title"
              placeholder="title" />
          </div>
          <div>
            <p>
              <input
                type="checkbox"
                name=""
                id="customslug"
                v-model="formData.customslug" />
              <label for="customslug">custom slug  <span v-show="formData.customslug">{{ customSlugData.length }} character(s)</span></label>
              <span
                title="vue auto maxium 75 but if user try add more than it warning"
                class="errorInput"
                v-show="customSlugData.length > 75">
                - Slug must contain at most 75 character(s)</span
              >
            </p>
           
            <input
              type="text"
              v-model="customSlugData"
              :disabled="!formData.customslug" />
          </div>
          <label for="setCreateAt">
            <input type="checkbox" name="setCreateAt" id="setCreateAt" v-model="formData.setCreateAt">
            setCreateAt</label>         
            <input v-show="formData.setCreateAt" type="date"  
           name="begin" 
           placeholder="dd-mm-yyyy" 
           v-model="formData.userSetCreateAt">

          Content:
          <textarea            
            cols="30"
            rows="10"
            v-model="formData.article"
            placeholder="article"></textarea>
          <div class="category">
            <label for="selectCat">Select a category or create:</label>
            <input type="text" id="selectCat" v-model="formData.category" list="search-options">
            <datalist id="search-options"  id="cat">    
              <option v-for="ca in categories">{{ca.category}}</option>        
            </datalist>

           <!--  <label for="cat">Category:</label>
            <select
              id="cat"
              v-model="formData.category">
              <option
                value=""
                selected>
                select
              </option>
              <option value="android">Android</option>
              <option value="developer">Developer</option>
              <option value="drivers">Drivers</option>
              <option value="linux">Linux</option>
              <option value="music">Music</option>
              <option value="network">Network</option>
              <option value="windows">Windows</option>
              <option value="uncategorized">Uncategorized</option>
            </select> -->
          </div>

          <div>
            Author:
            <input
              type="text"
              v-model="formData.author"
              placeholder="author" />
          </div>
          vuecomponent:
          <input
            type="text"
            v-model="formData.vcomponent"
            placeholder="a single vue component <App/>" />

          <div>
            <input
              type="checkbox"
              name="published"
              id="published"
              v-model="formData.published"
              checked />
            <label for="published">published</label>
          </div>

          <div class="serverresponse">
            {{ serverresponse }}
          </div>

          <div class="form-buttons">
            <button class="button primary">Create</button>
            <button
              class="button seconday"
              @click.prevent="cleanValues">
              clean
            </button>
          </div>
        </form>
      </section>
      <p data-baseurl="<%= BASEURL %>"></p>
    </div>
  </body>
</html>
