/* Define color variables */
:root {
  --primary-color: #007bff; /* Primary color */
  --secondary-color: #6c757d; /* Secondary color */
  --success-color: #28a745; /* Success color */
  --danger-color: #dc3545; /* Danger color */
  --warning-color: #ffc107; /* Warning color */
}

* {
  box-sizing: border-box;
  color-scheme: dark;
  margin: 0;
  padding: 0;
}
p{
  margin: 0 !important; 
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block !important;
}

.serverresponse {
  text-align: center;
  margin-block: 15px;
  color: var(--warning-color);
}

/* dashboard */

.dashboard {
  max-width: 1200px;
  margin: 10px auto;
  padding: 10px;
}

.dashboard .menu {
  display: flex;
  margin-block: 10px;
  justify-content: space-between;
}

.cardsingle {
  max-width: 800px;
  padding: 0.5rem;
  background-color: #333;
  margin-block: 5px;
}


.search input,
.search button {
  border: none;
  margin: 0 2px;
}
.search input,
.search button {
  padding: 8px;
  border: 1px solid;
}

/* Navbar */

.nav {
  padding: 1rem;
  background: #333;
  margin-bottom: 1rem;
  & a {
    color: #fff;
  }
}

.top-menu {
  display: flex;
  gap: 2rem;
  justify-content: center;
  max-width: 500px;
  & a {
    font-size: 1.2rem;
  }
}

.top-menu{
  margin: 0 !important;
}

#root{
  max-width: 1200px;
  margin: 0 auto;
}

/* cards */

 #listall .single{
  display: grid;
  grid-template-columns: 1fr min(100px) 1fr;
  grid-gap: 1rem;
  width: 100%;
  margin: 0.2rem;
  background-color: #333;
  align-items: center;
  padding: .5rem;
  & .buttons {
    display: flex;
    color: rebeccapurple;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  /* mobile */
  @media (max-width: 560px) {
    grid-template-columns: 1fr;
  }
}

#listall p {
font-size: 1rem;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border: none !important;
  /* border-radius: 5px; */
  cursor: pointer;
}

.button.primary {
  background-color: var(--primary-color);
}
.button.secondary {
  background-color: var(--secondary-color);
}
.button.success {
  background-color: var(--success-color);
}
.button.warning {
  background-color: var(--warning-color);
}
.button.danger {
  background-color: var(--danger-color);
}

.button:hover {
  background-color: #0056b3;
}

/* edit */
.createAndLastupdate {
  display: flex;
  justify-content: space-between;
}
