body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.errorInput {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
  justify-content: flex-start;
}

form input:not(input[type='checkbox']),
textarea {
  width: 100%;
}

select,
input,
textarea {
  padding: 0.5rem;
}

input,
button,
textarea {
  border: 1px solid #fff;
  padding: 0.5rem;
}

input {
  margin-block: 10px;
}

.category {
  text-align: left;
}

.form-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

#selectCat {
  max-width: 50%;
}
